body {
    display: flex;
    background-color: #FFD700;
    font-family: Arial, sans-serif;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#tableTitle {
    color: darkblue;
}

.top-bar {
    /* display: flex;
    align-items: center; */
    background-color: darkblue;
    border-bottom: 3px solid white;
    width: 100%;
    height: 7%;
} 

.logo {
    height: 100%;
    width: auto;
    float: left;
}

#rankingTable {
    margin-top: 20px;
    border-collapse: collapse;
    width: 800px;
    max-width: 100%;
    display: none;
    margin-left: auto;
    margin-right: auto;
}

#rankingTable th, #rankingTable td {
    border: 1px solid darkblue;
    padding: 8px 12px;
}

#rankingTable th {
    background-color: darkblue;
    color: white;
    border-bottom: 2px solid  white;
}

.performance {
    text-align: center;
}

.Button {
    background-color: darkblue;
    color: white;
    padding: 1% 1%;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin: 0%;
    font-size: 1.5em;
    font-weight: bold;
}

.Button:hover {
    background-color: yellow;
    color: darkblue;
}